.title {
  font-size: xx-large;
  color: rgb(137, 221, 255);
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .slds-grid {
    margin: auto;
    padding-bottom: 0;
  }
  .slds-col {
    margin-bottom: 50px;
  }
}
  .slds-grid {
    color: var(--light-font);
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .slds-col {
    text-align: justify;
    border-radius: 25px;
    background-color: var(--dark-bg);
    height: 540px;
    overflow: auto;
    margin-left: 2%;
    margin-right: 2%;
    padding: 40px 40px;
  }

  span {
    padding: 20px 20px;
    font-size: var(--medium-font);
  }